html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    transition: 0.2s
}

a:hover {
    cursor: pointer
}

ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header,
footer {
    position: fixed;
    height: 21px;
    width: 100%;
    z-index: 2;
    margin: 0;
    padding: 2px 0;
    background-color: #333;
    color: #fff;
}

/*header{
    height: auto;
}*/

footer {
    bottom: 0px;
    font-size: 14px;
}

#input_txt {
    resize: none;
    /*
    width: 84em;
    height: 51em;
    */
    height: 100%;
    line-height: 1.5em;
    font-family: serif;
    letter-spacing: 0.2em;
    font-size: 16px;
    margin: 0;
    padding: 0;
    float: left;
    box-sizing: border-box;
    width: 100%;
    overflow: auto;
}

.menubutton {
    -webkit-appearance: none;
    display: inline-block;
    height: 20px;
    background: #999;
    border-radius: 5px;
    min-width: 20px;
    margin: 0;
    padding: 0;
}

.menubutton:hover {
    opacity: 0.5
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 25px 0 25px 0;
    box-sizing: border-box;
}

#path {}

#line,
#wc,
#byte {}

#left-component {
    min-width: 200px;
    right: 260px;
    margin-right: 5px;
}

#my-divider {
    right: 260px;
    width: 5px;
    box-sizing: border-box;
    border: solid #999;
}

#right-component {
    min-width: 260px;
    width: 260px;
}

.left-component-hide {
    right: 0px;
}



.write-vertical {
    -webkit-writing-mode: vertical-rl;
}

.semitransparent,
.disabled {
    opacity: .5;
}

.highlighted {
    background-color: #ffaa00;
}


/*
* Extension
*/

#right-component {
    display: -webkit-box;
    overflow-x: hidden;
}


/*Main*/

#ext-main {
    display: -webkit-box;
    -webkit-box-flex: 1.0;
    height: 100%;
    position: relative;
}

#ext-main mainWebview {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


/*Tab*/

ul#ext-tab {
    display: block;
    height: 100%;
    width: 60px;
    background: #111;
}

input[name="tab"] {
    -webkit-appearance: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    width: 57px;
    height: 57px;
    background: #555;
    margin: 0 10px 0 0;
}

input[name="tab"]:checked,
input[name="tab"]:hover {
    background: #777;
}

#writingMode {
    -webkit-appearance: none;
}